.navigation {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: solid 1px rgb(31, 30, 30);
  background-color: white;
  z-index: 1;
}

.navigation .nav-item {
  padding: 8px 16px;
  color: rgb(43, 45, 59);
  font-size: 18px;
}
.navigation .nav-item.selected {
  color: rgb(197, 92, 5);
}

.navigation .nav-item:hover {
  color: rgb(197, 92, 5);
}
