.item-selector {
  display: flex;
  flex-wrap: wrap;
}

.item-selector .group {
  margin-bottom: 16px;
}

.item-selector span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border: solid 1px #36a3ce;
  cursor: pointer;
  color: #36a3ce;
  margin-right: 4px;
  margin-top: 4px;
}

.item-selector span.active {
  border: solid 1px #2b83a6;
  color: white;
  background-color: #2b83a6;
}
