.rule-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.day-wrap {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.day-wrap input {
  width: 50px;
  text-align: right;
}
