<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<style type="text/css">
  .red{
    color: red;
  }
  .sty1{
    border: solid 1px #d0576b;
    *zoom: 1;
    margin-bottom: 50px;
  }
  .sty1:before, .sty1:after {
    content: " ";
    display: table;
  }
  .sty1:after {
    clear: both;
  }

  .per_month{
    width: 30%;
    float: left;
  }
  .item{
    width: 100%;
    margin-bottom: 50px;
    border-bottom: solid 2px blue;
  }
  .menu span{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }

</style>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>

<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<script src="../js/open_interest.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Futures</title>
</head>
<body>

<div class="menu">
  <span data-year="11">2011</span>
  <span data-year="12">2012</span>
  <span data-year="13">2013</span>
  <span data-year="14">2014</span>
  <span data-year="15">2015</span>
  <span data-year="16">2016</span>
</div>

<div id="year-11" class="item">
  <div class="w-index"></div>
  <div class="tx-opi"></div>
  <div class="bull-opi"></div>
  <div class="bear-opi"></div>
  <div class="other-bull-opi"></div>
  <div class="other-bear-opi"></div>
</div>

<div id="year-12" class="item">
  <div class="w-index"></div>
  <div class="tx-opi"></div>
  <div class="bull-opi"></div>
  <div class="bear-opi"></div>
  <div class="other-bull-opi"></div>
  <div class="other-bear-opi"></div>
</div>

<div id="year-13" class="item">
  <div class="w-index"></div>
  <div class="tx-opi"></div>
  <div class="bull-opi"></div>
  <div class="bear-opi"></div>
  <div class="other-bull-opi"></div>
  <div class="other-bear-opi"></div>
</div>

<div id="year-14" class="item">
  <div class="w-index"></div>
  <div class="tx-opi"></div>
  <div class="bull-opi"></div>
  <div class="bear-opi"></div>
  <div class="other-bull-opi"></div>
  <div class="other-bear-opi"></div>
</div>

<div id="year-15" class="item">
  <div class="w-index"></div>
  <div class="tx-opi"></div>
  <div class="bull-opi"></div>
  <div class="bear-opi"></div>
  <div class="other-bull-opi"></div>
  <div class="other-bear-opi"></div>
</div>

<div id="year-16" class="item">
  <div class="w-index"></div>
  <div class="tx-opi"></div>
  <div class="bull-opi"></div>
  <div class="bear-opi"></div>
  <div class="other-bull-opi"></div>
  <div class="other-bear-opi"></div>
</div>
</body>
</html>





